<div class="large-12 columns">
	<div class="row">
		<div class="large-12 columns">
			<%= form_for list, remote: true do |f| %>
				<h3 class="list-title">
					<%= f.label :title %>
					<%= f.text_field :title, placeholder: "Add list title" %>
				</h3>
				<ul class="list-count-spacing large-block-grid-2">
					<li>
						<% if list.image? %>
							<%= image_tag list.image.thumb.url %>
						<% else %>
							<img src="http://placehold.it/95x95&amp;text=list">
						<% end %>
						
					</li>
					<li>
						<%= f.file_field :image %>
						<%= f.text_field :remote_image_url, placeholder: "Add image url" %>
		 			</li>
				</ul>
				<div>
					<%= f.label :description %>
					<%= f.text_area :description , placeholder: "Add list description", rows: "5" %>
				</div>
				<div class="right">
					<%= f.submit "Update", class:"button tiny" %>
					<%= link_to  "Cancel", list_path(list.id), class:"button tiny secondary" %>
				</div>
			<% end %>
		</div>
	</div>
</div>