<%= render partial: "items/svg_icon" %>
<%= flash[:alert] %>
<div class="large-12 columns">
	<ul class="inline-list">
		<li>
			<%= link_to @list.group.name, group_path(@list.group), class: "group-navigation" %>
		</li>
	</ul>
</div>
<div class="list-header">
	<%= render partial: "lists/header_show", locals: { list: @list } %>
</div>
<div class="large-12 columns">
	<div class="create-item-spacing">
	<% if can? :create, @list => Item %>
		<p class="left create-item-title">Add Item</p>
		<ul class="inline-list left create-item-list">
			<li id="title">Title</li>
			<li id="image">Image</li>
			<li id="link">Link</li>
			<li id="video">Video</li>
			<li id="text">Text</li>
		</ul>
	<% end %>
	</div>
</div>

<div class="large-12 columns">
	<div class="row">
		<div class="large-8 columns">
			<% if can? :create, @list => Item %>
			<div class="item-form">
				<div class="hide" id="title">
					<%= form_for shallow_args(@list, @list.items.build), remote: true do |f| %>
						<p><%= render partial: "items/form_title", locals: { f: f } %></p>
					<% end %>
				</div>
				<div class="hide" id="image">
					<%= form_for shallow_args(@list, @list.items.build), :url => create_image_list_items_path(@list, @list.items.build), remote: true do |f| %>
					<p><%= render partial: "items/form_image", locals: { f: f } %></p>
					<%= token_tag %>
				<% end %>
				</div>
				<div class="hide" id="link">
					<%= form_for shallow_args(@list, @list.items.build), :url => create_link_list_items_path(@list, @list.items.build), remote: true do |f| %>
				<p><%= render partial: "items/form_link", locals: { f: f } %></p>
				<% end %>
				</div>
				<div class="hide" id="video">
					<%= form_for shallow_args(@list, @list.items.build), :url => create_video_list_items_path(@list, @list.items.build), remote: true do |f| %>
					<p><%= render partial: "items/form_video", locals: { f: f } %></p>
					<% end %>
				</div>
				<div class="hide" id="text">
					<%= form_for shallow_args(@list, @list.items.build), :url => create_text_list_items_path(@list, @list.items.build), remote: true do |f| %>
					<p><%= render partial: "items/form_text", locals: { f: f } %></p>
					<% end %>
				</div>
			</div>
			<% end %>
			<div class="item-list">
				<%= render @sort_items %>
			</div>
		</div>
		<div class="large-4 columns">
			<%= render partial: "lists/sidebar", locals: { list_user: @list.user, item_users: @item_users } %>
		</div>
	</div>
</div>