<div class="large-12 columns">
<!-- <h2>Edit <%= resource_name.to_s.humanize %></h2> -->

<%= form_for(current_user, url: update_avatar_users_path) do |f| %>
    <fieldset>
      <legend>Profile Image</legend>
      <div>
        <p><%= user_avatar_for current_user, 70 %></p>
         <%= f.file_field :avatar %>
       </div>
       <div><%= f.submit("Update Profile Image", class:"button tiny submit devise-button") %>
       </div>
   </fieldset>
<% end %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <fieldset>
    <legend>Account Setting</legend>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Update", class:"button tiny submit devise-button" %></div>
  </fieldset>
<% end %>

<fieldset>
  <legend class="alert">Delete account</legend>
  <p>Once you delete your account, there is no going back. Please be certain.</p> 
  <%= link_to "Delete your account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class:"button tiny submit devise-button alert" %></p>
</fieldset>
<%= link_to "Back", :back %>
</div>