<%= form_for group do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div>
  	<%= f.label :link %>
  	<%= f.text_area :link %>
  </div>

  <div>
  	<%= f.label :privacy %>
  	<ul class="privacy-list">
      <li><%= f.radio_button :privacy, 'open' %>Open</li>
    	<li><%= f.radio_button :privacy, 'close' %>Close</li>
    	<li><%= f.radio_button :privacy, 'secret' %>Secret</li>
    </ul>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>