<div class="large-12 columns">
	<div class="row group-header">
		<div class="large-8 columns">
			<ul class="list-count-spacing large-block-grid-2">
				<li>
					<div class="list-count">
						<div class="list-count-container">
							<span><%= group.lists.count %></span>
						</div>
						<div class="total-list-count">
							<span>Lists</span>
						</div>
					</div>
					<% if group.privacy == 'open' && %>
						<%= link_to 'Join', group_user_path(group, current_user), method: :post, class: "button join" %>
					<% end %>
				</li>
				<li>
					<h3 class="group-title">
						<%= group.name %>
					</h3>
					<h6 class="subheader">
						<%= group.description %>
					</h6>
					<ul class="user-list inline-list">
						<% group.users.each do |f| %>
							<li>
								<%= user_avatar_for f, 28 %>
							</li>
						<% end %>
					</ul>
				</li>
		</ul>
		</div>
		<div class="large-4 columns">
			<ul class="inline-list subnav">
				<li class="<%= 'current' if params[:controller] == 'groups' && params[:action] == 'show' %>"><%= link_to 'Lists', group_path(group) %></li>
				<li class="<%= 'current' if params[:controller] == 'users' %>"><%= link_to 'Members', group_users_path(group) %></li>
				<% if can? :manage, group %>
					<li class="has-dropdown <%= 'current' if params[:controller] == 'groups' && params[:action] == 'edit' %>">
						<a href="#" data-dropdown="group-drop"><i class="fi-widget"></i></a>
						<ul id="group-drop" data-dropdown-content class="center f-dropdown">
                			<li><%= link_to "Edit group", edit_group_path(group) %></li>
                			<li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
              			</ul>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
	<div class="row">
		<%= yield %>
	</div>
</div>