<div class="large-12 columns">
	<div class="row group-header">
		<div class="large-8 columns">
			<ul class="list-count-spacing large-block-grid-2">
				<li>
					<div class="list-count">
						<div class="list-count-container">
							<span><%= group.lists.count %></span>
						</div>
						<div class="total-list-count">
							<span>Lists</span>
						</div>
					</div>
				</li>
				<li>
					<h3 class="group-title">
						<%= group.name %>
						<%= group_privacy_icon group.privacy %>
					</h3>
					<h6 class="subheader">
						<%= group.description %>
					</h6>
					<ul class="user-list inline-list">
						<% group.users.each do |f| %>
							<li>
								<%= user_avatar_for f, 28 %>
							</li>
						<% end %>
					</ul>
				</li>
		</ul>
		</div>
		<div class="large-4 columns">
			<ul class="inline-list subnav">
				<li class="<%= 'current' if params[:controller] == 'groups' && params[:action] == 'show' %>"><%= link_to 'Lists', group_path(group) %></li>
				<li class="<%= 'current' if params[:controller] == 'users' %>"><%= link_to 'Members', group_users_path(group) %></li>
				<% if can? :manage, group %>
					<li class="<%= 'current' if params[:controller] == 'groups' && params[:action] == 'edit' %>"><%= link_to 'Edit', edit_group_path(group)%></li>
				<% end %>
			</ul>
		</div>
	</div>
	<div class="row">
		<%= yield %>
	</div>
</div>