<div class ="row">
	<div class="form-item-image">
		<div class="small-12 large-6 columns">
			<a href="<%= url_for item.image.url %>"><%= image_tag item.image.thumb.url %></a>
			<% if item.url? %>
				<div class="item-url">
					<%= link_to item.url %>
				</div>
			<% end %>
		</div>
		<div class="small-12 large-6 columns">
			<%= f.text_field :title, placeholder: "Add a title" %>
			<%= f.text_area :description, placeholder: "Add description" %>
		</div>
	</div>
</div>
