<h4 class="item-title"><%= link_to  item.title, item.url %></h4>
<div class="item-url">
	<%= link_to item.url, item.url %>
</div>
<div class="item-snippet">
	<%= item.snippet %>
</div>
<% if item.image? %>
	<div>
		<a href="<%= url_for item.image.url %>"><%= image_tag item.image.thumb.url %></a>
	</div>
<% end %>
<div class="item-description">
	<%= simple_format(item.description) %>
</div>