<div class="row">
	<div class="small-12 large-6 columns">
		<a href="<%= url_for item.image.url %>"><%= image_tag item.image.thumb.url %></a>
		<% if item.url? %>
			<div class="item-url">
				<%= link_to item.url, item.url %>
			</div>
		<% end %>
	</div>
	<div class="small-12 large-6 columns">
		<% if item.title? %>
			<h5><%= item.title %></h5>
		<% end %>
		<%= simple_format(Rinku.auto_link(item.description)) %>
	</div>
</div>